body {
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: white;
    text-align: center;
    padding-top: 50px;
}

h1 {
    color: #38bdf8;
}

a {
    color: #22c55e;
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
}

.container {
    background: #1e293b;
    padding: 30px;
    margin: auto;
    width: 300px;
    border-radius: 10px;
}